<div class="Hero__left">
  <h1 class="heading--primary">auth master</h1>

  <p style="margin: 5rem 0" class="paragraph">
    Project created by Manjil Junior. Demo project just to showcase my skills,
    <br />
    If you find any issue with this project please feel free to reach me out :)
  </p>

  <a
    style="text-decoration: none"
    href="https://www.facebook.com/jr.vijay.71"
    target="_blank"
    class="btn--primary"
  >
    Found Issue? Contact Me.
  </a>
</div>
